<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Fake Job Advertisements</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='vendors/iconfonts/font-awesome/css/all.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='vendors/css/vendor.bundle.addons.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <!-- endinject -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->

      {% include 'header.html' %}

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">

        {% include 'sidebar.html' %}

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="alert alert-info">
                  {{ username }}, here is your uploaded job and history
                </span>
              </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    History
                  </li>
                </ol>
              </nav>
            </div>

            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Data table</h4>
                <div class="row">
                  <div class="col-12">
          