<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Filename</th>
        <th>Status</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ loop.index }}</td>

        <td>{{ record[0] }}</td>

        <td>{{ record[1] }}</td>

        <td>
          <span
            class="alert alert-{{ 'danger' if record[2] == 'fake' else 'success' }}"
          >
            {{ record[2].upper() }}
          </span>
        </td>

        <td>{{ record[3] }}</td>

        <td>
          <a
            href="{{ url_for('delete_file', filename=record[1]) }}"
            onclick="return confirm('Are you sure you want to delete this file?');"
          >
            <button class="badge badge-danger badge-pill">
              Delete
            </button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- content-wrapper ends -->

<!-- partial:../../partials/_footer.html -->
<footer class="footer">
  <div
    class="d-sm-flex justify-content-center justify-content-sm-between"
  >
    <span
      class="text-muted text-center text-sm-left d-block d-sm-inline-block"
    >
      Copyright © 2026
      <a href="https://ifm.ac.tz" target="_blank">ifm</a>.
      All rights reserved.
    </span>

    <span
      class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
    >
      Hand-crafted & made with
      <i class="far fa-heart text-danger"></i>
    </span>
  </div>
</footer>

<!-- partial -->
</div>